<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123631889639-t1ssdk3vvd7q4irgdk6hbn95ib1cai9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123631889639-t1ssdk3vvd7q4irgdk6hbn95ib1cai9q</string>
	<key>API_KEY</key>
	<string>AIzaSyAr7W3qtvsl0PZkoauskY_-fBNzTswXmfo</string>
	<key>GCM_SENDER_ID</key>
	<string>123631889639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.integer.Plant-disease</string>
	<key>PROJECT_ID</key>
	<string>farmy-uz</string>
	<key>STORAGE_BUCKET</key>
	<string>farmy-uz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123631889639:ios:b871d94582f7d28a230642</string>
	<key>DATABASE_URL</key>
	<string>https://farmy-uz-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>